.timeline-panel{
    // border: thin solid white;
    margin: auto;

    .time-reference-panel{
        // border: thin solid white;
        margin: auto;
        text-align: center;
        display: flex;

        .input-selection{
            // border: thin solid white;
        }
    }
}