.tank-summary-panel{
    border: thin solid grey;
    background-color: grey;
    border-radius: 5;
    width: 325px;
    height: 600px;

    z-index: 2;
    position: absolute;
    y:100;
    x:200;

    .header{
        padding: 5px;
        width: 100%;
        text-align: center;

        h3{
            margin-bottom: 5px;
            padding-bottom: 5px;
        }
    }

    .description{
        width: 100%;
        text-align: center;
        border-bottom: thin solid white;

        hr{
            width: 90%;
            padding-bottom: 10px;
        }
    }

    .summary-panel{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .comp-header{
        font-weight: bold;
        margin: auto;
        margin-top: 15px;
    }

    .no-data-placeholder{
        text-align: center;
    }
}